@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap');


/* -------------general styling--------------- */
*{
    padding: 0;
    margin: 0;
}

/* -------------navbar----------------------- */

#navbar{
    padding-left: 0;
    margin-top: 0;
}

h1,h2,h3{
    text-align: center;
    text-transform: uppercase;
    align-items: center;
}

/* ------------------------main-------------------------- */

main{
    flex: 1 0 auto;
    width: 100%;
    font-family: "Roboto", sans-serif;
}
.carousel{
    align-content: center;
    justify-content: center;
    min-height: 120%;
    width: 80%;
    padding-top: 5px;
    margin: 0 auto;
    background-position: center;
    background-size: cover center;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
   
}


 
#description{
    background-color: rgb(84, 187, 221);
    width: 100%;
    padding: 10px 10px;
    margin: 20px 20px;
    min-height: 100px;
    z-index: 5;
}

.suggestion{
   
    width: 100%;
    margin: 20px;
    padding: 20px 20px;
    margin-bottom: 10px;
    min-height: 200px;
    
}
#suggestion-images img{
    height: 240px;
    width: 240px;
}

.reviews{
    
    padding: 20px 20px;
    margin: 20px;
}

/*------------------------------Footer-------------------------------- */

footer {
    margin-bottom:0;
    bottom:0;
    position: fixed;
    background-color: black;
    width:100%;
}

.heroimage{
    height:100vh;
    background-size: cover;

}

.heroblurb{
    background-color:black;
    color: white;
    height:100vh;
}

.heroplanets{
    background-color:black;
}