/*Footer */

footer {
    margin-bottom:0;
    bottom:0;
    position: fixed;
    background-color: black;
    width:100%;
}

/* Hero section */
.heroimage{
    height:100vh;
    background-size: cover; /*makes image cover and not repeat*/

}

.heroblurb{
    background-color:black;
    color: white;
    height:100vh;
}

.herocontainertext{
    margin-top:50%;
    background-color: rgba(0, 0, 0, 0.562);
}
